@{
    
}

<div class="jumbotron">
    <h1>Happy Mother's Day! <span class="glyphicon glyphicon-heart" /></h1>
    <p>BB and I love you very much. You mean the world to us.</p>
</div>

<div class="page-header">
    <h1>MaMa!</h1>
</div>
<div>
    <p>You know how I hate cards from the store, and I like to do hand-written notes instead.  Well, this is like a hand-written note, but with a little more flare to it.</p>
    <p>We love you.</p>
    <p><span class="signature">B<sub>2</sub> + B<sub>3</sub></span></p>
    <div>
        <hr />
        <div class="container-fluid nav-links">
            <div class="row">
                <div class="col-xs-3">
                    <a href="@Url.Action("Home", "MothersDay", new { id = @ViewData["Year"] })"><span class="glyphicon glyphicon-home"></span></a>
                </div>
                <div class="col-xs-3">
                    <a href="@Url.Action("Notes", "MothersDay", new { id = @ViewData["Year"] })"><span class="glyphicon glyphicon-edit"></span></a>
                </div>
                <div class="col-xs-3">
                    <a href="@Url.Action("Pictures", "MothersDay", new { id = @ViewData["Year"] })"><span class="glyphicon glyphicon-picture"></span></a>
                </div>
                <div class="col-xs-3">
                    <a href="@Url.Action("Videos", "MothersDay", new { id = @ViewData["Year"] })"><span class="glyphicon glyphicon-film"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
